/* css reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* general */

:root {
  --white: #ffffff;
  --light-grey: rgba(220, 220, 220, 0.5);
  --dark-grey: rgba(117, 117, 117);
}

/* main */

body {
  background-image: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

main {
  display: flex;
  flex-direction: column;
  color: var(--white);
  height: 100%;
  padding: 50px;
  justify-content: space-between;
}

/* top container */

#weather-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}

/* container 1 */

#container1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#temp-and-icon {
  display: flex;
  border: 1px solid red;
}

#temp {
  font-size: 6rem;
}

#city {
  font-size: 2.2rem;
}

#country,
#condition {
  font-size: 1.5rem;
}

#localtime {
  font-size: 1rem;
}

#icon-container {
  width: 100px;
  border: 1px solid red;
}

.icon {
  border: 1px solid red;
}

/* container 2 */

#container2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#container2-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.7rem;
}

hr {
  color: var(--light-grey);
}

/* bottom container */

#forecast-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid red;
}

.hours-container,
.week-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.temp-data {
  font-size: 2.2rem;
  font-weight: bold;
}

.day-of-week,
.hour-data {
  font-size: 1.5rem;
}

/* buttons */

button {
  background: transparent;
  border: 1px solid var(--white);
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--light-grey);
}

/* input */

input#search-box {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--white);
}

input#search-box::placeholder {
  color: var(--white);
}

input#search-box:focus {
  outline: none;
}
